.principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-geral);
    height: 659px;
    justify-content: flex-start;
    min-width: 350px;
}

.principal__paragrafos {
    align-items: center;
    color: var(--cor-azul);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 16px;
    height: 71px;
    line-height: 21px;
    justify-content: center;

    position: absolute;
    top: 203px;
    text-align: center;
    width: 312px;
}

.principal__logo {
    background-image: url('../../../assets/logoAdopet.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 35px;
    width: 143px;
}

.principal__formulario {
    display: flex;
    flex-direction: column;

    height: 336px;
    min-width: 312px;
}

.principal__formulario--label {
    color: var(--cor-cinza);
    font-family: var(--fonte-geral);
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    line-height: 24px;
    text-align: center;
    min-width: 312px;
}

.principal__formulario--texto {
    background-color: var(--cor-cinza-claro-fundos);
    border: none;
    border-radius: 6px;
    color: var(--cor-cinza-claro);
    font-family: var(--fonte-geral);
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
    margin-bottom: 20px;
    text-align: center;
    min-width: 312px;
}

.principal__formulario--texto:last-child {
    margin-bottom: 0px;
}

.principal__botao {
    margin-bottom: 72px;
}

.principal__imagemleft {
    position: absolute;
    width: 82.73px;
    height: 415px;
    left: 1px;
    top: 368px;
}

@media screen and (min-width: 768px) {
    .logo {
        height: 62px;
        width: 252px;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        height: 64px;
        width: 260px;
    }
}
