.usuario {
    background-image: url('../../assets/img/usuario.png');
    background-repeat: no-repeat;
    background-position: right top;
    height: 100%;
    margin-right: 37px;
    margin-top: 40px;
    width: 100%;
    position: absolute;
}

.usuario-perfil {
    background-image: url('../../assets/img/usuario-perfil.png');
    background-repeat: no-repeat;
    background-position: right top;
    height: 100%;
    margin-right: 37px;
    margin-top: 40px;
    width: 100%;
    position: absolute;
}
