.rodape {
    align-items: center;
    background-color: var(--cor-azul-esverdeado);
    box-sizing: border-box;
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: center;

    min-width: 350px;
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .rodape {
        height: 80px;
    }
}
