.rodape {
    align-items: center;
    background-color: var(--cor-azul-esverdeado);
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: center;
    position: absolute;
    width: 350px;
}
