.fa-eye {
    color: var(--cor-cinza);
    cursor: pointer;
    padding-bottom: 1rem;
}

.input-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    text-align: center;
}

#msg-erro {
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
    text-align: center;
}

#msg-sucesso {
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
    text-align: center;
}

.principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-geral);
    height: 659px;
    min-width: 350px;
}

.principal__paragrafos {
    align-items: center;
    color: var(--cor-azul);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 16px;
    height: 21px;
    line-height: 21px;
    justify-content: flex-start;

    text-align: center;
    width: 312px;
}

.principal__logo {
    background-image: url('../../../assets/logoAdopet.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 56px;
    height: 35px;
    width: 143px;
}

.principal__formulario {
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 42px;
    height: 400px;
    padding: 0 24px;
    width: 312px;
}

.principal__formulario--campos {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.principal__formulario--label {
    color: var(--cor-cinza);
    font-family: var(--fonte-geral);
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    line-height: 24px;
    margin-bottom: 4px;
    text-align: center;
}

.principal__formulario--texto {
    background-color: var(--cor-cinza-claro-fundos);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: var(--cor-preta);
    font-family: var(--fonte-geral);
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
    margin-bottom: 20px;
    text-align: center;
    width: 312px;
}

.principal__formulario--texto:last-child {
    margin-bottom: 0px;
}

.principal__esquece-senha {
    color: var(--cor-coral);
    font-size: 12px;
    margin-top: 8px;
}

.principal__formulario--botao {
    margin-top: 24px;
}

@media screen and (min-width: 768px) {

    .principal__logo {
        height: 62px;
        width: 252px;
    }

    .principal {
        height: 846px;
    }

    .principal__paragrafos {
        font-size: 18px;
        height: 21px;
        line-height: 26px;
    
        text-align: center;
        width: 525px;
    }

    .principal__formulario {
        height: 389px;
        margin-top: 40px;
        width: 344px;
    }

    .principal__formulario--label {
        font-size: 18px;
        font-weight: 400;
        height: 24px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    
    .principal__formulario--texto {
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .principal__esquece-senha {
        margin-top: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .fa-eye {
        right: 34%;
        top: 74%;
    }

    .principal__logo {
        height: 64px;
        margin-bottom: 64px;
        width: 260px;
    }

    .principal {
        height: 814px;
    }

    .principal__paragrafos {
        padding-bottom: 40px;
        width: 552px;
    }

    .principal__formulario {
        margin-top: 72px;
        width: 552px;
    }

    .principal__formulario--label {
        font-size: 18px;
        font-weight: 600;
        height: 25px;
        line-height: 24px;
    }
    
    .principal__formulario--texto {
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        line-height: 16px;
        margin-bottom: 20px;
        width: 552px;
    }

    .senhas {
        width: 362px;
    }

    .principal__formulario--botao {
        margin-top: 32px;
    }
}
