.principal {
    align-items: center;
    background-color: var(--cor-branca);
    color: var(--cor-branca);
    display: grid;
    font-family: var(--fonte-geral);

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 60%;
    height: 520px;
    padding-top: 16px;
    min-width: 350px;
}

.principal__paragrafo {
    color: var(--cor-azul);
    font-family: var(--fonte-geral);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    grid-column: 2;
    grid-row: 1;
    line-height: 21px;
    margin-bottom: 120px;

    text-align: center;
}

.principal__formulario {
    align-items: center;
    display: flex;
    flex-direction: column;

    height: 336px;

    grid-column: 2;
    grid-row: 2 / 3;
    min-width: 312px;
    z-index: 1;
}

.principal__esquece-senha {
    color: var(--cor-coral);
}

.principal__botao {
    margin-top: 24px;
}

.principal__formulario--label {
    color: var(--cor-cinza);
    font-family: var(--fonte-geral);
    font-size: 16px;
    font-weight: 400;
    height: 25px;
    line-height: 24px;
    text-align: center;
    min-width: 312px;
}

.principal__formulario--texto {
    background-color: var(--cor-cinza-claro-fundos);
    border: none;
    border-radius: 6px;
    color: var(--cor-cinza-claro);
    font-family: var(--fonte-geral);
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
    margin-bottom: 20px;
    text-align: center;
    min-width: 312px;
}

.principal__imagemleft {
    position: absolute;
    width: 82.73px;
    height: 415px;
    left: 1px;
    top: 368px;
}