.cabecalho {
    align-items: center;
    background-color: var(--cor-branca);
    background-image: url('../../assets/formas/forma1.png');
    background-position: top left;
    background-size: auto;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    height: 295px;
    min-width: 350px;
    width: 100%;
}

.cabecalho-primeiro {
    background-color: var(--cor-azul);
}

.cabecalho__navegacao {
    flex-direction: row;
    margin-bottom: 224px;
    margin-top: 48px;

    padding: 20% 0
}

.cabecalho__navegacao--home {
    background-color: var(--cor-azul-esverdeado);
    background-image: url('../../assets/img/casa.svg');
    background-position: top left;
    background-repeat: no-repeat;
    border: none;
    left: 13%;
    top: 5.5%;

    height: 23px;
    width: 20px;

    position: absolute;
}

.cabecalho__navegacao--msg {
    background-color: var(--cor-azul-esverdeado);
    background-image: url('../../assets/img/mensagens.png');
    background-position: top left;
    background-repeat: no-repeat;
    border: none;
    left: 35%;
    top: 6%;
    
    height: 19px;
    width: 24px;

    position: absolute;
}