.cabecalho {
    background-color: var(--cor-branca);
    background-image: url('../../assets/formas/forma1.png');
    display: flex;
    flex-direction: column;
    height: 295px;
    justify-content: space-evenly;
    width: 350px;
}

.primeiro {
    background-color: var(--cor-azul);
}

.cabecalho__navegacao {
    flex-direction: row;
    margin-bottom: 48px;

    padding: 20% 0
}

.cabecalho__titulo {
    align-items: center;
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
}

.cabecalho__subtitulo {
    color: var(--cor-branca);
    display: flex;
    font-family: var(--fonte-titulo);
    font-size: 26px;
    justify-content: center;
    line-height: 48px;
    padding: 24px;
}

.cabecalho__navegacao--home {
    background-color: var(--cor-azul-esverdeado);
    border: none;
    height: 23px;

    left: 12%;
    position: relative;
}

.cabecalho__navegacao--msg {
    background-color: var(--cor-azul-esverdeado);
    border: none;
    height: 19px;

    left: 25%;
    position: relative;
}