.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    height: 25.5rem;
    max-width: 90rem;
    padding: 6rem 0;
    top: 5rem;
}

.cabecalho__sub {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.cabecalho__titulo {
    font-size: 3rem;
    font-weight: 600;
    flex-wrap: wrap;
    line-height: 4.75rem;
    margin: 1.5rem 0;
    text-align: center;
}

.cabecalho__apoio {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 400;
    flex-wrap: wrap;
    line-height: 1.875rem;
    letter-spacing: 0em;
    max-width: 48rem;
    padding: 0 1.25rem;
    position: static;
    text-align: center;
    width: 95%;
}
