.subtitulo {
    text-align: center;
    color: var(--cor-branca);
    font-family: var(--fonte-titulo);

    margin: auto;
    padding-top: 24px;

    position: absolute;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    
    display: flex;
    flex-direction: column;

    top: 34%;
    text-align: center;

    width: 155px;

}