.logo {
    background-image: url('../../../assets/logoBranco.png');
    background-repeat: no-repeat;

    margin: 168px 77.95px 81px 87.5px;

    position: absolute;

    height: 46px;
    width: 186.67px;
}

