.logo {
    background-image: url('../../../assets/logoBranco.png');
    background-repeat: no-repeat;

    margin: auto;

    position: absolute;

    height: 46px;
    top: 25%;
    width: 190px;
}

