.principal {
    align-items: center;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-geral);
    height: 518px;
    justify-content: space-around;
    width: 350px;


}

.principal__texto {
    border: 1px var(--cor-preta-transparente);
    color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 16px;
    height: 72px;
    line-height: 150%;
    padding: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px var(--cor-preta), 0 0 1px var(--cor-preta), 0 0 5px var(--cor-preta);
    width: 248px;
}

.principal__imagemright {
    position: absolute;
    width: 84.03px;
    height: 415px;
    left: 279px;
    top: 199px;
}

.principal__imagembot {
    display: flex;
    flex-direction: column;
    height: 54%;
    padding-right: 24px;
}