.principal {
    background-color: var(--cor-azul);
    box-sizing: border-box;
    color: var(--cor-branca);

    display: grid;
    grid-template-columns: 24% 52% 24%;
    grid-template-rows: 1fr;

    font-family: var(--fonte-geral);
    height: 540px;

    margin-right: 30px;
    min-width: 350px;
    width: 100%;
}

.principal__elementos {
    align-items: center;
    display: flex;
    flex-direction: column;

    grid-column: 2;

    height: 540px;
}

.principal__elementos--subtitulo {
    text-align: center;
    color: var(--cor-branca);
    font-family: var(--fonte-titulo);

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
    
    grid-column: 2;
}

.principal__elementos--botoes {
    margin-top: 16px;
    justify-content: center;
}

.principal__elementos--texto {
    align-items: center;
    border: 1px var(--cor-preta-transparente);
    color: var(--cor-branca);
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 16px;
    height: 72px;
    justify-content: center;
    line-height: 150%;
    margin-top: 16px;
    padding: 12px;
    text-align: center;
    text-shadow: 1px 1px 2px var(--cor-preta), 0 0 1px var(--cor-preta), 0 0 5px var(--cor-preta);
    width: 248px;
}

.principal__imagem--bot {
    margin-right: 48px;
    margin-top: 24px;
    top: 500px;
}

.principal__imagem {
    background-image: url('../../../assets/formas/forma2.png');
    background-repeat: no-repeat;
    background-position: top right;

    grid-column: 3 / 5;

    min-width: 70px;
}

