.navbar {
    align-items: center;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    height: 2.75rem;
    margin: 0 auto;
    max-width: 90rem;
    padding: 1.125rem 5rem;
}

.navbar__logo {
    margin: 0 1.5rem 0 auto;
}

.navbar__lista {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 2rem;
    justify-content: space-around;
    list-style: none;
    width: 60%;
}

.navbar__lista--item {
    color: var(--text-color);
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
}

.navbar__botoes {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 2.75rem;
    margin-left: 1.875rem;
    width: 25%;
}

.navbar__botoes--entrar {
    align-items: flex-start;
    border-radius: 0.5rem;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    height: 2.75rem;
    justify-content: center;
    line-height: 1.5rem;
    margin: 0 0.75rem;
    width: 5.2rem;
}

.navbar__botoes--cadastrar {
    align-items: flex-start;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    color: white;
    display: flex;
    font-family: Inter;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    height: 2.75rem;
    justify-content: center;
    line-height: 1.5rem;
    width: 7rem;
}

@media screen and (max-width: 768px) {
    .navbar {
        align-items: center;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        height: 20rem;
        justify-content: space-between;
        margin: auto;
        max-width: 50rem;
        padding: 1.125rem 5rem;
        text-align: center;
    }

    .navbar__logo {
        margin: auto;
    }

    .navbar__lista {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: space-around;
        list-style: none;
    }

    .navbar__lista--item {
        font-size: 1rem;
        font-weight: 500;
        line-height: 2rem;
    }

    .navbar__botoes {
        align-items: center;
        display: flex;
        height: 6rem;
        justify-content: space-around;
        margin-left: 0;
    }
}
