.principal {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-geral);
    height: 925px;
    justify-content: space-between;
    min-width: 350px;
}

.principal__paragrafos {
    color: var(--cor-azul);
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 16px;
    height: 140px;
    line-height: 21px;

    text-align: center;
    width: 247px;
}

.principal__paragrafos--perfil {
    color: var(--cor-cinza);
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 56px;
}

.principal__formulario {
    display: flex;
    flex-direction: column;
    /*Subtrai 72px das alturas do figma porque o botão ficou separado no meu estilo.*/
    height: 697px;
    padding: 16px 16px;
    width: 312px;
}

.principal__formulario--label {
    color: var(--cor-azul);
    font-family: var(--fonte-geral);
    font-size: 16px;
    font-weight: 600;
    height: 25px;
    line-height: 24px;
    margin-bottom: 8px;
}

.principal__formulario--perfil {
    align-self: center;
    height: 80px;
    
    width: 80px;
}

.principal__formulario--instrucao {
    align-self: center;
    color: var(--cor-coral);
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin: 5px 0;
    width: 168px;
}

.principal__formulario--texto {
    background-color: var(--cor-cinza-claro-fundos);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: var(--cor-preta);
    font-family: var(--fonte-geral);
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    line-height: 16px;
    margin-bottom: 16px;
    width: 280px;
}

.principal__formulario--texto:last-child {
    height: 144px;
    line-height: 24px;
    padding: 16px;
}

.principal__botao {
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .principal {
        height: 866px;
        margin-top: 11px;
    }

    .principal__paragrafos {
        font-size: 18px;
        height: 134px;
        line-height: 26px;
        margin-bottom: 0px;
        width: 524px;
    }

    .principal__formulario {
        height: 700px;
        width: 524px;
    }
    
    .principal__formulario--texto {
        font-weight: 400;
        height: 48px;
        line-height: 16px;
        width: 492px;
    }

    .principal__formulario--texto:last-child {
        height: 104px;
        margin-bottom: 0px;
    }

    .principal__botao {
        margin-bottom: 123px;
    }
}

@media screen and (min-width: 1024px) {
    .principal {
        height: 872px;
    }

    .principal__formulario {
        height: 551px;
        padding: 27px 30px 0px 30px;
        width: 552px;
    }

    .principal__formulario--label {
        height: 25px;
        line-height: 24px;
    }
    
    .principal__formulario--texto {
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 16px;
    }

    .principal__formulario--texto:last-child {
        margin-bottom: 0;
    }

    .principal__botao {
        margin-bottom: 68px;
    }
}

@media screen and (min-width: 1350px) {
    .principal {
        margin-top: 144px;
    }
}